<p id="notice"><%= notice %></p>



<h1> You  have ____ left to complete. </h1>

    <% @points.each do |point| %>
      <% point.statpoint %>
      <%= link_to point.statpoint, task_point_path(@task, point) %>
    <% end %>

<br>
<br>
<div class="button">
<%= link_to 'New Task', new_task_path %>
</div>
