<p id="notice"><%= notice %></p>



<h1> You  have <%= Chronic.parse('today') %> left to complete. </h1>

    <% @points.each do |point| %>
      <% point.statpoint %>
      <%= link_to point.statpoint, point %>
    <% end %>

<br>
<br>
<div class="button">
<%= link_to 'Back', :back %>
</div>
