<h1>Showing Status</h1>
<p id="notice"><%= notice %></p>

<p>You are <%= @point.statpoint %>% done...</p>

<% if @point.message  %>
  <p><%= @point.message.body %></p><br>
  <img src='<%= @point.message.photo_url %>'>
<% end %>

