<h1>choose a mode</h1>

<%= button_to 'good', {}, {action: 'set_mode', class: 'btn btn-primary', name: 'good'} %>
<%= button_to 'bad', {}, {action: 'set_mode', class: 'btn btn-primary', name: 'bad'} %>
