<div class="jumbotron">
      <div class="container">
          <h1>Create a new Task</h1>
      </div>
    </div>
<br><br>
<br>
<%= render 'form' %>
<br>
<div class="btn btn-info">
<%= link_to 'Back', tasks_path %>
</div>
