/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
body {
  padding-top: 50px;
  font-family: 'Quicksand', sans-serif;
}

h2 {
  font-size: 20px;
}

div .bar {
  height: 300px;
  background-color: #A9A9A9;
  margin-left: -100;
}

.jumbotron {
  background-image: url(http://i.imgur.com/dpccCQB.jpg);
  margin: -30px;
  height: 210px;
}
.left {
  text-align: left;
}

.right {
  margin-left: 600px;
}

.lg {
  font-size: 18px;
  word-spacing: 18px;
}

.md {
  font-size: 18px;
}

.button {
  background-color: #FCFCFC;
}
.smallerimg {
  height: 400px;
}

.gif {
  height: 110px;
  margin-top: 30px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;

}

#notice {
  color: green;
}

a {
  color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #2F2F2F;
}


.black {
  color: #222222;
}

[value="Create Task"] {
  @extend .btn;
  @extend .btn-info;
}
